<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.mapper.MpUserMapper">


    <select id="selectAdult" resultType="com.my.domain.MpUser">
        select
            id,name,age,deleted
        from
            mp_user
        where
            age>18
    </select>

</mapper>
