<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.springboot.mapper.GirlMapper">

    <resultMap id="BaseResultMap" type="com.my.springboot.bean.Girl" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="address" property="address" />
    </resultMap>

    <select id="query" resultMap="BaseResultMap">
        select * from girl where id = #{id}
    </select>

    <select id="queryList" resultMap="BaseResultMap">
        select * from girl
    </select>

    <insert id="insert" parameterType="com.my.springboot.bean.Girl" >
        INSERT INTO girl(name, age, address) VALUES(
            #{girl.name},
            #{girl.age},
            #{girl.address}
        )
    </insert>

    <update id="update" parameterType="com.my.springboot.bean.Girl" >
        UPDATE girl
        <set>
            <if test="girl.name != null &amp;&amp; girl.name !=''">
                age=#{girl.age},
            </if>
            <if test="girl.age != null &amp;&amp; girl.age != 0">
                age=#{girl.age},
            </if>
            <if test="girl.address != null &amp;&amp; girl.address !=''">
                address=#{girl.address}
            </if>
        </set>
        WHERE id=#{girl.id}
    </update>

    <delete id="delete">
        DELETE FROM girl WHERE id=#{id}
    </delete>
</mapper>







